In [1]:
# 데이터타입
# 문자형

In [2]:
#> 생성하기
> 여닫는 따옴표는 반드시 문자의 앞 뒤에 한 쌍으로 완성해야 합니다.
### 1) 한 줄 문자열 : '',""

SyntaxError: invalid syntax (1016815876.py, line 2)

In [3]:
10
"10"

'10'

In [7]:
a = "HelloWorld
반갑습니다"
# 같은 줄에 있지 않고 내려가면 에러 발생

SyntaxError: EOL while scanning string literal (3876034167.py, line 1)

In [10]:
# 한줄 문자열인데 여러가지 이유로 다른줄에 작성해야 하는 경우 \
b = 'HelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorld\
HelloWorldHelloWorldHelloWorld\
HelloWorldHelloWorld'
b

'HelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorld'

In [11]:
#2) 여러 줄 문자열 : ''',"""
- print()를 했을 때 줄바꾼(enter)가

SyntaxError: invalid syntax (3586463499.py, line 2)

In [12]:
#3) 문자 속에 문자열 기호 사용하기
- 문자열에서 자주 쓰는 기호 : ' ,

SyntaxError: invalid syntax (1525093476.py, line 2)

In [14]:
# 언어, 문자에서 많이 쓰이는 기호 : she's , "설렁탕을 사왔는데 왜 먹지를 못하나"
# 여닫는 용도로 쓰는 기호를 다른 따옴표로 

a = "She's happy"
print(a)

She's happy

In [15]:
title = '오늘은 "미세먼지" 좋음.'
print(title)

오늘은 "미세먼지" 좋음.

In [16]:
# 여닫는 용도로 쓰는 따옴표와, 내부에서 문자로 쓰는 따옴표 종류를 같게 하고 싶은 경우
# 여닫는 용도가 아닌 따옴표 왼쪽에 \를 붙이면 해당 따옴표는 여닫는 기능으로 인식되지 않습니다.
b = 'She\'s happy'
print(b)

She's happy

# <<연습문제>>
### 1. 아래와 같은 여러 줄의 문장을 문자열로 만들어서 lines라는 변수에 할당하세요
>파이썬도 배우고
>장고도 배우고
> 할 게 너무 많아

방법 1) 여러 줄 문자열 활용하기(lines 변수에 할당)
방법 2) 한 줄 문자열 내부에 \n을 사이사이에 활용하기

In [17]:
# 방법 1
c = '파이썬도 배우고 \
장고도 배우고\
할 게 너무 많아'

print(c)

파이썬도 배우고 장고도 배우고할 게 너무 많아

In [18]:
# 방법 2
lines = '''파이썬도 배우고 
장고도 배우고 
할 게 너무 많아'''

print(lines)

파이썬도 배우고
장고도 배우고
할 게 너무 많아

1) 산술 연산자 : 문자, 숫자를 함꼐 연산하기 위한 문법 기호

1. 문자와 문자를 연결
2. 동일한 문자를 반복해서 연결

In [19]:
# 문자와 문자
'가' + '나'

'가나'

In [20]:
# 문자 자체에 공백 추가 하기
'가'+ ' ' + '나'

'가 나'

In [21]:
#2. 문자 + 문자가 아닌 자료형
'가 '+ 1

TypeError: can only concatenate str (not "int") to str

In [22]:
#3. 문자를 여러 번 반복하기 : 
# 동일한 문자열을 여러 번 반복 연결시켜줌
'abc' + 'abc' +'abc'

'abcabcabc'

In [23]:
'abc' * 3

'abcabcabc'

In [24]:
# 문자 * 문자 = Error
'abc' * a

TypeError: can't multiply sequence by non-int of type 'str'

### 2) 비교연산자 : 문자의 크기를 비교하기 위한 문법 기호
> 문자의 비교

* 대문자 vs 소문자 : 대문자 < 소문자 크기가 더 크다(아스키코드 : A = 65, a = 97)
* 알파벳 : 알파벳 순서가 뒤에 있을수록(a보다는 z가) 크기가 더 크다
* 문자 길이 : 문자열의 길이가 길수록 크기가 더 크다 -> len()으로 찍어서 확인 가능

In [25]:
# 대문자 vs 소문자 : 비교연산
'A' < 'a'

True

In [26]:
# 문자열을 대상으로 할 떄에는 무조건 첫 글자끼리만 비교한다
# 문자 길이는 실제 크기 비교에 영향을 미치지 않습니다.
'b' < 'BUS'

False

In [27]:
# 문자 길이는 len(문자열)형식으로 확인
len('b') < len('BUS')

True

In [28]:
#영문자와 영문자 이외의 다른 문자 간 비교는 무조건 영문자가 작게 나옵니다.
# ascii code VS Unicode
'B' < '가'

True

#> 인덱스
- 아이템 (대상이 가지고 있는 최소 단위의 값)의 위치를 나타내는 고유한 번호
- 첫번쨰 위치는 0부터 시작
- 마지막 위치는 -1부터 시작(파이썬의 특징)

In [29]:
#banana라는 문자열에 대해 인덱싱
text = 'banana'

In [30]:
# banana라는 문자열에서 첫번째 아이템 = 0번째 인덱스 번호로 접근
text[0]

'b'

In [35]:
# 마지막 아이템인 'a'에 접근
text[5]

'a'

In [36]:
text[-1]

'a'

### 2) 슬라이싱 : 연속된 범위의 여러 아이템에 접근

* 대상객체 [처음인덱스 : 마지막 인덱스 (: 간격)]
* 처음 인덱스 번호는 포함(n부터 ~)
* 마지막 인덱스 번호는 포함하지 않음 (m-1까지)
* 간격조정은 할 수도 있고 하지 않을 수도 있습니다.(기본은 1씩 증가)

In [37]:
# 문자열 생성
text = 'hello python world'

In [38]:
# 처음부터 특정 위치까지 : ~ python
# 처음인덱스 0
# 마지막 인덱스 : python의 n다음 문자가 몇 번째인지 확인
text[0:12]

'hello python'

In [39]:
# 마지막 인덱스 : -7(뒤에서 7번째니까 -6으로 착각하면 안됩니다.)
text[0:-6]

'hello python'

In [40]:
# 첫 인덱스가 0으로 시작한다면 생략가능
text[:-6]

'hello python'

In [41]:
# 특정 위치부터 마지막 아이템까지 : python
# 처음 인덱스는 6
# 마지막 인덱스는 : -6
# 간격 : 기본값(1)
text[6:-6]

'python'

In [42]:
# 전체 범위로 잡기 : 처음 인덱스, 마지막 인덱스를 모두 기입하지 않으면, 전체 아이템을 다 가져옵니다.
text[:]

'hello python world'

In [43]:
# 간격을 2로 주려면 : 를 두 번 쓰고 가장 오른쪽에 증감분을 적습니다
text[::2]

'hlopto ol'

## > 연습문제
### 20220726미세먼지양호함
#### 위의 문장을 weather 변수에 저장한 다음
#### 날짜는 date 변수에 슬라이싱으로 받아오고 micro 변수에 미세먼지 정도를
#### 슬라이싱으로 받아오도록 출력해주세요

In [45]:
weather = '20220726미세먼지양호함'

In [49]:
date = weather[:8]
print(date)

20220726

In [54]:
micro = weather[8:]
print(micro)

미세먼지양호함

# > 포매팅(Formatting)

특정 값만 바뀌고 일정한 형식을 가지는 문자열을 작성할 수 있는 기법

### 1. % 포매팅
* 데이터 타입에 따른 분류 : 정수, 실수, 문자
* 옵션 길이 : 문자열 길이, 표현할 아이템 개수, 정렬, 공백

### 1) 숫자값 대입

In [55]:
c = 21
if(c == 20) :
    print("현재 온도는 20도 입니다.")
    elif(c == 21) :
        print("현재 온도는 21도 입니다.")

SyntaxError: invalid syntax (1430689685.py, line 4)

In [56]:
# 1. 가변 자료가 들어갈 자리(땡땡... 에 해당하는)에 구멍(%자료형)을 낸다.
# 2. 구멍이 뚫린 문자열 뒤에 % 로 연결한 다음 집어넣을 값을 적는다

In [57]:
# 정수 값 포매팅 : 정수(int) --> %d

'오늘은 %d일 입니다.' % 26

'오늘은 26일 입니다.'

In [58]:
# 정수 자리의 의미 : 출력되는 형식이 정수라는 의미
# 반올림이 아니라 소수점 아래를 버린 결과를 출력합니다.
'오늘은 %d일 입니다.' % 16.4134242

'오늘은 16일 입니다.'

In [59]:
# 실수(float)값 포매팅
# if를 이용하여 값에 대한 구멍을 낸다
# %f는 기본적으로 소수점 아래 6자리까지 표현
"오늘의 온도는 %f도 입니다." % 24

'오늘의 온도는 24.000000도 입니다.'

In [61]:
# 실수값 포메팅 2 : 집어넣는 값을 정수가 아닌 실수로 적용
# 실수값 포메팅은 6번째 자리에서 반올림을 한다
'당신의 점수는 %f점 입니다.' % 92.123456789

'당신의 점수는 92.123457점 입니다.'

In [62]:
# 옵션 : 소수점 아래 자리를 몇 자리까지 출력할 지 정할 수 있습니다.
# %0.nf : 소수점 아래 n자리까지만 표현하는 실수
'당신의 점수는 %0.3f 점 입니다.' % 92.123456789

'당신의 점수는 92.123 점 입니다.'

In [65]:
# 가변자료를 2개 이상 넣는 경우
# 집어넣는 값은 왼쪽부터 하나씩 전달됩니다.
# 2개 이상을 집어넣는 경우는 %(1번째 값, 2번째 값 ...)과 같이 ()로 감싸서 전달합니다.
'오늘은 %d월 %d일입니다.' % (7, 26)

'오늘은 7월 26일입니다.'

In [66]:
# %d, %f에 숫자가 아닌 자료를 넣으면 에러가 발생합니다.
'오늘은 %d월 %d일입니다.' %('5', 'ㅁ')

TypeError: %d format: a number is required, not str

# 2)문자 대입

- %s 로 구멍 뚫기
- 집어넣는 값에 대해서는 제한이 없다
- 만능 포메팅

In [67]:
# 집어넣는 값 : 문자 타입
'%s님 접속을 환영합니다.' % 'abc1234'

'abc1234님 접속을 환영합니다.'

In [68]:
# 문자 이외의 타입도 가능
'%s 숫자도 쓸 수 있네요' % 1000

'1000 숫자도 쓸 수 있네요'

In [75]:
'날짜 : %s - %s - %s 출석률 : %s' % (2022, '07', 26, 88)

'날짜 : 2022 - 07 - 26 출석률 : 88'

In [92]:
'날짜 : %s - %s - %s 출석률 : %0.1f%%' % (2022, '07', 26, (16/18))

'날짜 : 2022 - 07 - 26 출석률 : 0.9%'

## > 문자열 내장함수* = 문자열 메서드

    └≫ 내장함수 : 특정 데이터 타입이 자체적으로 가지고 있는 속성으로 존재하는 함수
    └≫ 문법 : 변수(데이터타입값).함수명()


* count( ) : 특정 문자의 개수


* find( ) :특정 문자의 인덱스 번호(위치)


* join( ) : 특정 기호를 문자열 아이템 사이에 입력


* upper( ) : 문자열을 대문자로 변경


* lower( ) : 문자열을 소문자로 변경


* capitalize( ) : 문자열의 첫 글자를 대문자로


* swapcase( ) : 대문자는 소문자로, 소문자는 대문자로 전환


* lstrip( ) / rstrip( ) / strip( ) : 좌 / 우 / 앞뒤 공백(기본) 및 특정 문자 지우기


* replace( ) : 기존 문자를 새로운 문자로 바꾸기


* split( ) : 특정 기호를 기준으로 문자열을 아이템 단위로 나누어 리스트로 반환


* center( ) : 문자열 길이를 지정하여 대상 문자열을 중앙 정렬


* ljust( ) : 문자열 길이를 지정하여 대상 문자열을 왼쪽 정렬


* rjust( ) : 문자열 길이를 지정하여 대상 문자열을 오른쪽 정렬

In [93]:
# 문자열 생성
text = 'tomato juice'

In [94]:
#count()
#해당 문자열 내부에 내가 찾고싶은 문자, 단어가 몇 개 인지 세어줍니다
text.count('to')

2

In [95]:
# find( ) : 특정 값의 인덱스 번호를 반환
# txt 문자열에서의 a의 인덱스 번호
# find('찾을 자료', '시작 인덱스')
# 자료가 없을 떄는 -1 리턴

text.find('to')

0

In [96]:
text.find('to', 2)

4

In [97]:
# upper()
# 변경한 결과를 시뮬레이션해서 보여줌 (원본 자료는 변경되지 않음)
text.upper()

'TOMATO JUICE'

In [101]:
text2 = text.upper()
# lower()는 그 반대입니다.
text2.lower()
text2

'TOMATO JUICE'

In [102]:
text = '                123                    123                   '

In [104]:
# lstrip()
# 문자열 왼쪽에 있는 공백 전부 제거
# 시뮬레이션 결과로만 제거
text.lstrip()

'123                    123                   '

In [105]:
#rstrip()
# lstrip의 오론쪽 버전
text.rstrip()

'                123                    123'

In [106]:
#strip()
# 양쪽 모두 벗기기
text.strip()

'123                    123'

In [107]:
#replace(old, new)
# 찾아바꾸기
# 변경은 안됩니다.
text.replace('123','456')

'                456                    456                   '

In [108]:
text.replace(' ', '')

'123123'

### 3. 아이템 추가하기 : 연산자와 함수를 이용한 리스트 아이템 추가

1) 산술연산자 : +, *

2) 리스트의 함수 (메서드) : 리스트.append(), 리스트.extend(), 리스트.insert()

### 3-1) 산술연산자

* 종류 : +, -

* 특징 : 원본에 반영되지 않는다.

In [109]:
# 리스트끼리 연결하기 : +
a = [1,2,3]
b = [4,5,6]

In [114]:
a+b

[1, 2, 3, 4, 5, 6]

In [112]:
print(a)
print(b)

[1, 2, 3]
[4, 5, 6]

In [115]:
b * 3 # b + b + b

[4, 5, 6, 4, 5, 6, 4, 5, 6]

### 4. 리스트 타입의 함수 (method)

* 종류

 - 리스트.append(추가할 아이템) : 인자값을 통채로 리스트의 마지막 아이템으로 추가, 인자값은 1개만 받음 = 1개 아이템만 추가 가능
 
 - 리스트.extend(추가할 아이템) : 인자값의 아이템을 뽑아서 리스트의 마지막 아이템으로 추가, 인자값은 1개만 받음. 단 여러 개의 아이템 추가 가능
 
 - 리스트.insert(인덱스번호, 추가할 아이템) : 위치를 지정해서 아이템을 삽입할 수 있음, 통채로 아이템을 추가
 
 - 리스트.

In [116]:
#리스트 생성하기
a = [1,2,3]
a

[1, 2, 3]

In [117]:
#append()
# 문법 : 리스티.append(추가할 아이템)

a.append(4)
a

[1, 2, 3, 4]

In [118]:
# 추가할 자료로 [5,6]을 제공한다면
# 하나의 인덱스에 자료를 넣어버리는 모습
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [119]:
a[4]

[5, 6]

In [121]:
#extend()
# 문법 : 대상리스트 extend(리스트)
# append()와 차이점 : 인자값으로 리스트만 받을 수 있다.
# 리스트의 길이만큼 인덱스 길이가 늘어난다. ( append는 무조건 1만큼만 연장됨)
a.extend([7,8,9])
a

[1, 2, 3, 4, [5, 6], 7, 8, 9]

In [124]:
#extend()로 수 하나만 추가하고 싶은 경우엔 어떻게 해야 할까요?
a.extend([10])
a

[1, 2, 3, 4, [5, 6], 7, 8, 9, 10, 10]

In [125]:
#insert()
# 문법 : 대상리스트.insert(인덱스번호, 추가할 아이템)
# 다른 함수와의 차이점 : 아이템 추가가 마지막 인덱스가 아닌 지정한 인덱스를 기준으로
# append와의 유사점 : 하나의 인덱스에 다 때려박음
a.insert(0, 100)
a

[100, 1, 2, 3, 4, [5, 6], 7, 8, 9, 10, 10]

In [127]:
a.insert(0, [99,98])
a

[[99, 98], 100, 1, 2, 3, 4, [5, 6], 7, 8, 9, 10, 10]

In [128]:
# in 키워드는 특정 요소가 리스트 내에 있는지 없는지 여부를 물어봅니다.
# 값 in 리스트
# 값 100이 a리스트 내에 존재하나요? => 100 in a
99 in a

False

In [130]:
# not in 키워드는 특정 요소가 리스트 내부에 없는지 여부를 물어봅니다.
# 값 not in 리스트
# 50이 a 리스트에 존재 안 합니까? -> 50 not in a
10 not in a

False

### << 연습문제 >>

아래의 순서에 맞추어 직접 실행해보세요.

1) 빈 리스트 생성

2) 1번 리스트에 숫자 1,2,3을 아이템으로 추가

3) 2번 리스트의 3번째 위치에 문자 100을 아이템으로 추가

4) 3번 리스트의 마지막 문자 A, B를 아이템으로 가진 리스트를 아이템으로 추가

5) 4번 리스트의 아이템을 2번 반복해서 가지는 리스트를 출력

In [132]:
list1 = []

In [133]:
list1.append(1, 2, 3)
list1

TypeError: list.append() takes exactly one argument (3 given)

In [134]:
list1.append(1)
list1.append(2)
list1.append(3)
list1

[1, 2, 3]

In [139]:
list1.insert(2, 100)
list1

[1, 2, 100, 100, 3, 'A', 'B', 'A', 'B']

In [140]:
list3 = list1.extend(['A', 'B'])
list3

In [152]:
list1 = [1,2,3]
list1

[1, 2, 3]

In [153]:
list1.insert(2, 100)
list1

[1, 2, 100, 3]

In [155]:
list1.append(['A','B'])
list1

[1, 2, 100, 3, ['A', 'B']]

In [157]:
#list4 = list1 * 2
list4

[1, 2, 100, 3, ['A', 'B'], 1, 2, 100, 3, ['A', 'B']]

### 5. 아이템 수정하기

- 인덱싱, 슬라이싱을 이용해서 아이템을 수정할 수 있다.

In [158]:
# 리스트 생성하기
a = [1, 2, 3, 4]

In [159]:
#하나의 아이템 수정하기
# 0번 인덱스에 있는 값을 [10, 20]으로 수정하기
# 결과 : [[10, 20], 2, 3, 4]
a[0] = [10, 20]
a

[[10, 20], 2, 3, 4]

In [160]:
# 연속된 범위의 여러 아이템 수정하기
# 0번 인덱스만 선택 => 슬라이싱으로 선택
a2 = [1,2,3,4]
a2[0:1] = [10,20] #0번쨰부터 0번째까지 (1-1번까지)
a2

[10, 20, 2, 3, 4]

In [163]:
# 슬라이싱으로 값을 할당할 때의 주의점 : 전달하는 값은 1개여도 리스트로

a2[0:1] = [100]

In [164]:
a2

[100, 2, 3, 4]

### <<연습문제>>

아래 조건에 맞추어 리스트를 수정하세요.

[10, 99, 3, '사과' , 73, '바나나']

1. 사과를 apple로
2. 99,3dmf 9, 33으로
3. 73을 [73, 74]로

In [170]:
x = [10, 99, 3, '사과', 73, '바나나']
x

[10, 99, 3, '사과', 73, '바나나']

In [171]:
x[3] = 'apple'
x

[10, 99, 3, 'apple', 73, '바나나']

In [173]:
x[1:3] = [9, 33]
x

[10, 9, 33, 'apple', 73, '바나나']

In [174]:
x

[10, 9, 33, 'apple', 73, '바나나']

In [175]:
x[4] = [73, 74]
x

[10, 9, 33, 'apple', [73, 74], '바나나']

### 6. 아이템 삭제하기

* 슬라이싱

* del 키워드 + 인덱싱/ 슬라이싱

* remove()메서드 : 값을 기준으로 삭제

* pop()
    -인자값에 아무것도 입력하지 않거나 -1을 입력하면 마지막 인덱스를 삭제
    - 특정 인덱스를 지정하여 삭제

In [176]:
# 리스트 생성하기
a1 = [10, 20, 30, 40, 50]
a2 = [10, 20, 30, 40, 50]

In [177]:
#하나의 아이템 삭제하기 -1 슬라이싱 + 빈 리스트 대입

# 0번 인덱스 값 삭제하기

a1[0:1] = []
a1

[20, 30, 40, 50]

In [178]:
# 만약 슬라이싱이 아닌 인덱싱으로 빈 리스트 대입 해버린다면
a2[0] = []
a2
# 인덱스가 삭제되는 게 아니라 빈 리스트가 들어가 버린다

[[], 20, 30, 40, 50]

In [179]:
# 하나의 아이템 삭제하기 2 - del 키워드 + 인덱싱

del a1[-1]
a1

[20, 30, 40]

In [180]:
#del 키워드는 원래 해당 변수나 자료를 삭제해버립니다.
# 리스트 전체를 del에 걸면 리스트를 전부 삭제합니다.
del a2
a2

NameError: name 'a2' is not defined

In [181]:
# 하나의 아이템 삭제하기 3 - remove() 메서드
# 문법 : 리스트, remove(삭제할 자료를 직접 기입(인덱스가 아님))
a = [1,2,3,3,3,4,5]

In [182]:
# 5라는 값을 삭제 (인덱스 번호 6)
a.remove(5)
a

[1, 2, 3, 3, 3, 4]

In [183]:
# 중복된 아이템이 존재하면 가장 앞선 인덱스 자료 하나만 삭제
a.remove(3)
a

[1, 2, 3, 3, 4]

In [184]:
# del 키워드는 단일 자료뿐만아니라 연속된 범위(슬라이싱) 자료 삭제도 가능합니다.
del a[2:]
a

[1, 2]

In [190]:
#하나의 아이템 삭제하기 4 - pop() 메서드
# 마지막에 위치한 값이 몇이었는지 확인시켜주고 삭제함

a = [1,2,3,4,5]
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [191]:
#인덱스 번호를 기입하지 않으면 마지막 인덱스 자료를 삭제
a.pop()

6

In [192]:
a

[1, 2, 3, 4, 5]

In [193]:
# 삭제하려는 인덱스 번호 지정 시 마지막 자료가 아닌 지정 인덱스 번호의 자료 삭제
a.pop(2)

3

In [194]:
a

[1, 2, 4, 5]