# 정수형
#양수, 음수, 0
a = 10

In [11]:
b=-20
c=0

#정수 타입 : 타입(데이터 종류)를 확인하는 내장함수 type()
type(a)
type(b)
type(c)

print(type(a), type(b), type(c))

# 실수형

#양의 실수, 음의 실수, 0 :  float

a = 1.3
b = -2.4
c= 0.0

In [23]:

type(a)
type(b)
type(c)

float

## >연산자

- 산술 : +,-, /, //(몫), %(나머지), **(제곱)
- 비교 : ==, != , <=, >=, > , <
- 논리 : and, or
- 할당 : =, +=(누적합), -=(누적차), *=(누적곱), /=(몫만 남기기), %=(나머지만 남기기)

### 1) 산술연산자 : 숫자를 계산하기 위한 문법 기호

In [29]:
# 더하기 : +

10 + 3 # 정수 + 정수 => 정수로 출력
13.3 + 2.4 # 실수 + 실수 => 실수로 출력 + 이진수는 소숫점을 정확하게 표현할 수 없다.
10 + 3.4 # 정수 + 실수 => 실수로 출력

13.4

In [32]:
#빼기 : -

10-3
3 - 7.7

-4.7

In [37]:
# 나누기 : /
# 나누기 결과는 정수 / 정수 여도 실수로 출력됨 == 나누면 다 실수에요
3/3
7/2
5/2.5
# 정수/정수, 정수/ 실수, 실수/실수 모두 실수로 결과값이 출력됩니다

2.0

In [42]:
# 곱하기 : *
3*4
-3*5
(3-4)*5

-5

In [45]:
# 정수 몫만 반환 : //
# 나눗셈의 결과값보다 작은 정수 중에 가장 큰 정수
# 음수
5 // 4
-5 // 4

-2

In [47]:
# 양수
4//3

1

In [49]:
# 정수 몫을 구하고 남은 나머지만 반환
3%4

3

In [73]:
# 지수 : **
2**3 #(2의 3제곱)
#2의 제곱근을 구해보세요(제곱했을 때 2가 되는 숫자)
2 ** 0.5

1.4142135623730951

In [74]:
1.4142135623730951**2

2.0000000000000004

### 2) 비교연산자 :  자료를 비교하기 위한 문법 기호
    - 결과가 숫자가 아닌 bool type의 결과를 가진다
   >##### bool type
   - true : 0 이 아닌 숫자, 참인 조건식 등
   - false : 0, 거짓인 조건식 등
   -값에 대한 비교 : == , !=
   - 크기에 대한 비교 : >, <, >=, <=

In [78]:
if : 0
    print("작동함")

SyntaxError: invalid syntax (524614763.py, line 1)

In [82]:
# 두 값이 같은지 비교 : ==
#(결과) 두 값이 같으면 true, 두 값이 다르면 false
0 == 0.0
type(0) == type(0.0) #자료형이 다르지만 0은 예외적으로 허용

False

In [84]:
# 두 값이 다른지 비교 : !=
# 두 값이 다르면 true, 같으면 false
type(0) != type(0.0)

True

In [86]:
# 두 값의 크기를 비교 : <=, >=, <, >
10 >=3

True

### 3) 논리 연산자
    - 여러 개의 조건식을 활용하기 위한 명령어
    - bool type 결과 반환 : True, False

In [91]:
# and 연산자 : 조건식 1 and 조건식2
# 조건식 1과 조건식 2가 모두 true라면 최종 결과 true
# 둘 중 하나만 false여도 결과는 false
# 자바의 &&
10 < 12 # True
0 > -3 #True

10 < 12 and 0 > -3

True

In [93]:
# 숫자 0 은 False, 이외의 모든 숫자는 True입니다.
# bool(자료)는 자료의 참 거짓을 판단해줍니다.
bool(-5)

True

In [96]:
# 0이 False로 사용되는 예시
bool(0and 10 >3)

False

In [98]:
# or 연산자
# 조건식 1 or 조건식2 둘중하나만 참이면 True
# ||와 같음
bool ( 0 or 10 > 3)

True

#### 4 할당연산자

- 변수 할당
- 누적 연산

In [101]:
# 변수명( 왼쪽)에 변수값(오른쪽)을 할당/선언/저장/대입 : =
x = 10

In [103]:
# 숫자형의 누적합 +=
# result라는 변수에 누적합을 저장하기
result = 0
# result에 10만큼 더해서 저장하기 위해 원래 사용했던 코드
#result = result + x
#하지만 파이썬에서는
result += x

result

10

In [113]:
# 1~10까지 누적합을 구해보겠습니다.

result = 0
for i in range(1, 11) :
    #i 변수가 1~10까지 반복됨
    # 여기에 누적합 구문을 작성해주세요
    result += i 
    
print(result)

55

In [116]:
# 누적곱
result *= 2

print(result)

440

### 응용문제 : 홍길동의 시험 성적 평균을 구하세요

* 변수를 사용해서 과목 평균을 구합니다.
* 출력 양식 : <br>

In [118]:
eng = 80
kor = 72
math = 90
social = 66

In [123]:
result = 0

result += eng + kor + math + social

print(result)

308

In [124]:
result // 4

77

### 2. 반지름이 7인 원의 넓이를 구해주세요

In [130]:
# 반지름
r = 7

In [128]:
# 파이
pi = 3.14

In [132]:
circle = (r**2) * pi

print(circle)

153.86

### 3. 임의의 변수에 원하는 숫자를 집어넣고 그 수의 제곱근과 세제곱 값을 출력합니다.

In [134]:
i = 726

In [138]:
# 출력
print("제곱근", i **(1/2))
print("세제곱근", i ** (1/3))

제곱근 26.94438717061496
세제곱근 8.98763734707568

In [137]:
print(sejegob, jsgobgeun)

382657176 26.94438717061496